{% extends "layout.html" %}


{% block title%}
My Flow
{% endblock %}


{% block content %}
<style>
  p {
    margin: 25px;
    font-size: 200%;
  }

  table {
    margin: 25px;
  }
  li {
    display: inline;
  }
  tr {
    margin: 25px;
    color: #fff
  }

  * {
      margin: 0;
      padding: 0;
  }

  h1, h3{
    text-transform: uppercase;
    font-weight: normal;
  }

  .tabs{
      width: 1900px;
      display: block;
      margin: 40px auto;
      position: relative;
  }

  .tabs .tab{
      float: left;
      display: block;
  }

  .tabs .tab>input[type="radio"] {
      position: absolute;
      top: -9999px;
      left: -9999px;
  }

  .tabs .tab>label {
      display: block;
      padding: 6px 21px;
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      color: #fff;
      background: #4A83FD;
  }

  .tabs .content {
      z-index: 0;/* or display: none; */
      overflow: hidden;
      width: 1900px;
      padding: 25px;
      position: absolute;
      top: 27px;
      left: 0;
      background: #000000;
      color: #ffffff;

      opacity:0;
      transition: opacity 400ms ease-out;
  }

  .tabs>.tab>[id^="tab"]:checked + label {
      top: 0;
      background: #303030;
      color: #F5F5F5;
  }

  .tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
      z-index: 1;/* or display: block; */

      opacity: 1;
      transition: opacity 400ms ease-out;
  }
</style>

<ul class="tabs">

  <li class="tab">
      <input type="radio" name="tabs" checked="checked" id="tab1" />
      <label for="tab1">My Flow</label>
      <div id="tab-content1" class="content">

        <p> Lendered Event List </p>

          <table class="table is-hoverable">

            <tr>
              <th>Interchange ID</th>
              <th>Borrower Username</th>
              <th>Lender Username</th>
              <th>Time</th>
              <th>Book Name</th>
              <th>Book Author</th>
              <th>Total Pages</th>
              <th>Publisher</th>

            </tr>

            {% if lendered != None %}

            {% for item in lendered %}
            <tr>
              <td>{{ item[0] }}</td>
              <td>{{ item[1] }}</td>
              <td>{{ item[2] }}</td>
              <td>{{ item[3] }}</td>
              <td>{{ item[4] }}</td>
              <td>{{ item[5] }}</td>
              <td>{{ item[6] }}</td>
              <td>{{ item[7] }}</td>

            </tr>

            {% endfor %}

            {% endif %}

          </table>

          <br>

          <p> Borrowed Event List </p>

            <table class="table is-hoverable">

              <tr>
                <th>Interchange ID</th>
                <th>Lender Username</th>
                <th>Borrower Username</th>
                <th>Time</th>
                <th>Book Name</th>
                <th>Book Author</th>
                <th>Total Pages</th>
                <th>Publisher</th>
                <th>Action</th>
              </tr>

              {% if borrowed != None %}

              {% for item in borrowed %}
              <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
                <td>{{ item[5] }}</td>
                <td>{{ item[6] }}</td>
                <td>{{ item[7] }}</td>
              </tr>

              {% endfor %}

              {% endif %}

            </table>
      </div>
  </li>

  <li class="tab">
    <input type="radio" name="tabs" id="tab2" />
    <label for="tab2">General Flow</label>
    <div id="tab-content2" class="content">

      <p> Interchange Event List </p>

      <table class="table is-hoverable">

        <tr>
          <th>Interchange ID</th>
          <th>Time</th>
          <th>Lender Username</th>
          <th>Borrower Username</th>
          <th>Book Name</th>
          <th>Book Author</th>
          <th>Total Pages</th>
        </tr>

        {% if ielist != None %}

        {% for item in ielist %}
        <tr>
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td>
          <td>{{ item[2] }}</td>
          <td>{{ item[3] }}</td>
          <td>{{ item[4] }}</td>
          <td>{{ item[5] }}</td>
          <td>{{ item[6] }}</td>
          <td><form method="POST"  action="/flow">
              <button class="button is-danger" action="submit" id="p0" name="deleteFlow" value="{{ item[0] }}">DELETE</button>
          </form></td>
        </tr>

        {% endfor %}

        {% endif %}

      </table>



     </div>
  </li>



</ul>




{% endblock %}
