{% extends "layout.html" %}


{% block title%}
Messages
{% endblock %}


{% block content %}
{% from "includes/formhelpers.html" import render_field %}

<style>
  p {
    margin: 25px;
    font-size: 200%;
  }

  table {
    margin: 25px;
  }
  li {
    display: inline;
  }
  tr {
    margin: 25px;
  }
</style>



<form method="POST">

    <h2>Send Message</h2>
    <ul>
      <li>{{ render_field(sendMessageForm.receiverName) }}</li>
      <li>{{ render_field(sendMessageForm.receiverSurname) }}</li>
      <li>{{ render_field(sendMessageForm.topic) }}</li>
      <li>{{ render_field(sendMessageForm.message) }}</li>
      <li>{{ render_field(sendMessageForm.priority) }}</li>

      <button type=submit class="btn btn-primary" action="submit" id="addAvailable" name="btn" value="sendMessage">
        SEND MESSAGE
      </button>

    </ul>

</form>



<p> Incoming Messages </p>

<table class="table is-hoverable">

  <tr>
    <th>Sender Name</th>
    <th>Sender Surname</th>
    <th>Topic</th>
    <th>Message</th>
    <th>Date</th>
    <th>Priority</th>
  </tr>



  {% for item in messages %}
  <tr>
    <td>{{ item[0] }}</td>
    <td>{{ item[1] }}</td>
    <td>{{ item[2] }}</td>
    <td>{{ item[3] }}</td>
    <td>{{ item[4] }}</td>
    <td>{{ item[5] }}</td>
  </tr>

  {% endfor %}


</table>

{% endblock %}
